* {
  margin: none;
  box-sizing: border-box;
  /* outline: 1px solid red; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1,h3 {
  text-align: center;
  color: rgb(0, 0, 0);
}

.choiceBtn{
  width: 150px;
  height: 150px;
  border-radius: 2vw;
  font-size: 3rem;
}
p.player, p.cpu{
  font-size: 7rem;
}
button.start{
  background-color: rgb(2, 234, 2);
  color: black;
  border: 0;
  border-radius: 2vw;
  /* Add right position styling to center the button in the image area  */
}
p.playerIcons{
  margin: 0; 
}
.players{
  display: flex;
  justify-content: space-evenly;
  font-size: 2.5rem;
  gap: 28vw; 
  margin-bottom: 3vw; 
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin-bottom: 5vh;
}
button:hover{
  opacity: 50%;
}
button:active{
  font-size: 5rem;
  
}
p.author{
  display: flex;
  justify-content: center;
}
.score{
  display: flex;
  justify-content:space-evenly;
  font-size: 3rem;
  align-items: center;
}

